@model AdvancedDatabaseandORMConcepts.Models.Client

@{
    Layout = null;
}
<form asp-action="Create" method="post">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" />
    <label asp-for="LastName"></label>
    <input asp-for="LastName" />
    <label asp-for="PhoneNumber"></label>
    <input asp-for="PhoneNumber" />
    <input type="submit" value="Add New Client" />
</form>