@model AdvancedDatabaseandORMConcepts.Models.Room

@{
    Layout = null;
}

<form asp-action="Create" method="post">
    <label asp-for="Capacity"></label>
    <input asp-for="Capacity" />
    <label asp-for="Section"></label>
    <input asp-for="Section" />
    <input type="submit" value="Add New Room" />
</form>